.markdown {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding: 0 0 75px
}

.markdown a {
  color: #3498db
}

.markdown {
  padding: 10px 40px;
  overflow: hidden
}

.markdown > h1, .markdown > h2, .markdown > h3, .markdown > h4, .markdown > h5, .markdown > h6 {
  line-height: 1.5;
  font-weight: 400;
  margin: 20px 0 10px;
  color: rgba(51, 51, 51, .9)
}

.markdown > h1 {
  font-size: 36px
}

.markdown > h2 {
  font-size: 30px;
  margin-bottom: 25px
}

.markdown > h3 {
  font-size: 22px;
  margin-top: 45px
}

.markdown > h2 + h3 {
  margin-top: 25px
}

.markdown > h4 {
  font-size: 16px;
  margin-bottom: 15px
}

.markdown > h5 {
  font-size: 14px
}

.markdown > h6 {
  font-size: 14px;
  color: #666
}

.markdown > p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 26px;
  color: #34495e
}

.markdown > ol, .markdown > ul {
  padding: 15px 0;
  background-color: #f5f7fa
}

.markdown > ol li, .markdown > ul li {
  color: #34495e;
  font-size: 14px;
  line-height: 22px;
  margin: 5px 0 5px 20px;
  padding-left: 15px;
  position: relative
}

.markdown > ol li:before, .markdown > ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: 8px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #666
}

.markdown > ol li li, .markdown > ul li li {
  margin-left: 0
}

.markdown > hr {
  border: 0 none;
  border-top: 1px solid #eee
}

.markdown li > code, .markdown p > code, .markdown table code {
  margin: 2px;
  padding: 2px 7px;
  display: inline
}

.markdown blockquote {
  padding: 16px;
  margin: 20px 0;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ecf9ff;
  color: rgba(52, 73, 94, .8);
  border-left: 5px solid #50bfff
}

.markdown table {
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 45px;
  background-color: #fff;
  border-collapse: collapse;
  color: #34495e
}

.markdown table th {
  padding: 8px 10px;
  text-align: left;
  font-weight: 400;
  background-color: #f5f7fa;
  border: 1px solid #eaeefb
}

.markdown table th:first-child {
  padding-left: 10px
}

.markdown table td {
  padding: 8px;
  border: 1px solid #eaeefb
}

.markdown table code {
  font-size: 13px;
  padding: 0 8px;
  font-family: inherit;
  word-break: keep-all
}

.markdown--changelog section {
  padding-bottom: 30px
}

.markdown--changelog section > h3 + p, .markdown--changelog section > h3 + p code {
  margin: 0
}

.markdown--changelog section > h3 a {
  color: inherit;
  font-size: 24px;
  -webkit-font-smoothing: auto
}

.markdown--changelog section > h3:not(:first-of-type) {
  margin-top: 50px
}
body, p {
  margin: 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none
}

a {
  text-decoration: none
}

.van-doc-row {
  width: 100%
}

@media (min-width: 1440px) {
  .van-doc-row {
    width: 1440px;
    margin: 0 auto
  }
}

code {
  display: block;
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #f5f7fa;
  color: #455a64;
  padding: 18px 10px 18px 20px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace
}

code:after {
  top: 5px;
  right: 10px;
  position: absolute;
  color: #ccc;
  font-size: 12px
}

pre {
  margin: 0
}

pre + pre {
  margin-top: -10px
}

code.language-html:after {
  content: "HTML"
}

code.language-javascript:after {
  content: "JS"
}

code.language-css:after {
  content: "CSS"
}
code.language-json:after {
  content: "JSON"
}
code.language-wxml:after {
  content: "WXML"
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #fff
}

.hljs-subst {
  color: #455a64
}

.hljs-addition, .hljs-meta, .hljs-string, .hljs-symbol, .hljs-template-tag, .hljs-template-variable {
  color: #42b983
}

.hljs-comment, .hljs-quote {
  color: #999
}

.hljs-bullet, .hljs-link, .hljs-literal, .hljs-number, .hljs-regexp {
  color: #32a973
}

.hljs-deletion, .hljs-variable {
  color: #88f
}

.hljs-built_in, .hljs-doctag, .hljs-keyword, .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-selector-tag, .hljs-strong, .hljs-tag, .hljs-title, .hljs-type {
  color: #3e76f6
}

.hljs-emphasis {
  font-style: italic
}

.hljs-attribute {
  color: #e6550d
}

.hljs-attr{
  color: #e96900
}
